@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
.image_div{
    width: 120px;
    height: 120px;
    overflow: hidden;
    border: 1px solid lightgray;
    border-radius: 50%;
}
.image_div > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}